.mat-header-cell {
    background-color: #3C1B71;
    color: #fff;
    border: 1px solid #ddd;
}

.mat-cell {
    background-color: #FAF8FF;
    color: #000;
    border: 1px solid #ddd;
}

.mat-table {
    width: 100%;
    border-collapse: collapse;
}