<!-- Main modal -->
<div id="modal"
    class="modal fixed inset-0 z-10 flex justify-center items-center w-full h-full">
    <div class="relative w-full max-w-lg h-auto bg-white rounded-lg shadow-lg">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 modal-header">
                <h3 class="text-lg font-semibold text-white">
                  {{datos.titulo}}
                </h3>
              </div>              
            <!-- Modal body -->
            <form [formGroup]="tomadorForm" class="p-4 md:p-5" (ngSubmit)="onSubmit()">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2 sm:col-span-1">
                        <label for="tipoDocumento"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de
                            documento</label>
                        <select id="tipoDocumento" formControlName="tipoDocumento"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="">Elige un tipo</option>
                            <option *ngFor="let tipo of tiposDocumento" [value]="tipo.id">{{ tipo.nombre }}</option>
                        </select>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="numeroIdentificacion"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de
                            identificación</label>
                        <input type="text" id="numeroIdentificacion" formControlName="numeroIdentificacion"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Ingresa la identificación" (input)="onInputChangeNumeroIdentificacion($event)">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="nombreTomador"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del
                            tomador</label>
                        <input type="text" id="nombreTomador" formControlName="nombreTomador"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Ingresa el nombre tomador">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="primerApellidoTomador"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primer apellido
                            tomador</label>
                        <input type="text" id="primerApellidoTomador" formControlName="primerApellidoTomador"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Ingresa el primer apellido tomador">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="segundoApellidoTomador"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Segundo apellido
                            tomador</label>
                        <input type="text" id="segundoApellidoTomador" formControlName="segundoApellidoTomador"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Ingresa el segundo apellido tomador">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="correoTomador"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo del
                            tomador</label>
                        <input type="text" id="correoTomador" formControlName="correoTomador"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Ingresa el correo tomador">
                    </div>
                </div>
                <div class="grid gap-1 grid-cols-1 border-t">
                    <div class="col-span-1 flex justify-end">
                        <button type="submit"
                            class="mr-2 mt-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex justify-center items-center btn-modal">
                            {{ datos.tituloBoton }}
                        </button>
                        <button type="button" (click)="cerrarModal()"
                            class="ml-2 mt-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center flex justify-center items-center btn-modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>