/* Estilos base para la modal */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-header{
  background-color: #9661EC;
}

.btn-modal {
  background-color: #9661EC; 
  border-radius: 40px;  
  width: 130px;
}